:root{
    --pri-blue: #CDF7F0;
    --question-text-color: #00497E;
    --hover-option-color: #0FD9DE;
}


body,html{
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
} 


.question-cont{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 100vh;
    margin-top: 30px;
    font-size: 16px;
}

.question-box{
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* style for alternating background starts here */

.apples-cont{
    width: 100%;
    height: 100%;
    display: grid;
    background-color: var(--pri-blue);
    /* justify-content: center; */
    position: absolute;
    grid-template-columns: repeat(17,1fr);
    grid-template-rows: repeat(17,1fr);
    overflow: hidden;
    border-radius: 30px;
    z-index: -2;
}

.box_one{
   width: 10px;
   height: 10px;
   margin: 10px;
   opacity: 0.1;
   background: center center url("/images/apple-svgrepo-com.svg") no-repeat;
  
}

.box_two{
    /* width: 50px;
    height: 50px; */
    /* background-color: gainsboro; */
}

/* style for alternating background ends here */

.other-shapes-cont{
 
   
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   z-index: 1;
}

.vase{
    width: 80px;
    position: absolute;
    top: 20vh;
    transform: rotate(30deg);
    left: 10vw;
}

.orange{
    width: 60px;
    position: absolute;
    right: 10vw;
    top: 20vh;
    display: none;
}

.bannana{
    width: 80px;
    position: absolute;
    right: -10px;
    top: 20vh;
    transform: rotate(-50deg);
    
}

.shoe{
    width: 80px;
    position: absolute;
    bottom: 25vh;
    transform: rotate(30deg);
    display: none;
}

.plate{
    width: 80px;
    position: absolute;
    bottom: 5vh;
    left: 40vw;
}

.bicycle{
    width: 200px;
    position: absolute;
    bottom: 0px;
    right: 3px;
    transform: scaleY(-1) rotate(145deg);
    display: none;
}


/* style for the objects scattered around the background stops here */



.question-area{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--question-text-color);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  border-bottom: 1px double  #CDF7F0;
  box-shadow: 0px 4px 0px -0.1px #e4fcf5;
  display: absolute;
  width: 100%;
  
}

.question-number{
   font-size: 1rem;
}

.question-text{
  display: inline-block;
  text-align: center;
  max-width: 50%;
}
 
 /* hide default radio button ui */
.options {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }  

.option-area{
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    padding: 50px 0px;
    position: relative;
    z-index: 2;
}

.container{
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    margin: 15px;
    background-color: white;
    padding: 15px 10px;
    border-radius: 10px;
    color: var(--question-text-color);
    position: relative;
    display: flex;
    transition: transform 0.1s ease-out;
    min-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.container:hover{
    background-color: var(--hover-option-color);
    color: white;
    transform: scale(1.02) translateY(5px);
}



.container.selected{
    background-color: var(--hover-option-color);
    color: white;
}


.option-alphabet{

  background-color: var(--pri-blue);
  padding: 5px;
  border-radius:50%;
  margin: 0px 20px;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container:hover > .option-alphabet{
    background-color: var(--question-text-color);
}

.container.selected > .option-alphabet{
    background-color: var(--question-text-color);
}


.buttons-cont{
  width: 100vw;
  height: 50px;
  position: absolute;
  display: flex;
  justify-content: center;
}

.buttons{
    position: relative;
    flex-basis: 700px;
    display: flex;
    width: 100%;
    justify-content: space-between;

    z-index: 1;
}

.btn{
   height: 100%;
   width: 30px;
   border-radius: 5px;
   cursor: pointer;
   transition: all 0.2s ease-in;
}



.btn.left{
    /* position: absolute; */
    /* left: 0px; */
    margin-left: 30px;
    background: no-repeat center center url("/images/icon-angle-left.svg");
    border: none;
    background-color: var(--question-text-color);
}
.btn.left:hover{
    background-color: var(--hover-option-color);
    transform: scale(1.2);
}

.btn.right{
  /* position: absolute; */
  margin-right: 30px;
  background: no-repeat center center url("/images/icon-angle-right.svg");
  border: none;
  background-color: var(--question-text-color);
}
.btn.right:hover{
    background-color: var(--hover-option-color);
    transform: scale(1.2);
}


.options:checked + .container{
    background-color: var(--hover-option-color);
    color: white;
}

.options:checked + .container > .option-alphabet{
    background-color: var(--question-text-color);
    color: white;
}
#submit{
    margin: 10px auto;
    padding: 20px;
    width: 100px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color:var(--question-text-color);
    border: none;
    width: 60px;
    padding: 10px 50px;
    border-radius: 20px;
    box-shadow: 1px 1px 6px var(--question-text-color);
    transition: all 0.2s ease-in;
    color: var(--pri-blue);
}
#submit:hover{
    transform: scale(1.002) ;
    background-color: var(--hover-option-color);
    color: var(--question-text-color)
}


/* loader style */
.center {
    align-items: center;
    /* height: 400px; */
    display: block;
    justify-content: center;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    /* height: 80px; */
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #2321af;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }

  
  

@media (min-width:700px){
    body{
        font-size: 0.7rem;
    }

    .container{
        
    }

    .vase{
      display: static;
    }
    
    
    
    .bannana{
        display: inline-block;
    }
    
    .shoe{
        display: inline-block;
    }

    .orange{
        display: inline-block;
    }

    .plate{
        bottom: 5vh;
        left: 10vw;
    }

    .bicycle{
        display: inline-block;
    }
     /* .container{
        position: static;
        display: flex;
    }

    .option-alphabet{
        position: static;
    } */




}